<odoo>
    <menuitem id="arope_main_id" name="Arope  "
                       web_icon="arope-conf,static/description/arope.png" groups="arope-conf.manager_conf_group"/>
     <menuitem id="conf_menu" name="Configurations "
                  parent="arope_main_id" sequence="3" />
        <menuitem id="line_business" name="Line Of Business" parent="conf_menu"
                  action="insurance_line_business_action" sequence="0" />
         <menuitem id="product" name="Products" parent="conf_menu"
                  action="insurance_Products_action"  sequence="1"/>
       <menuitem id="comm_menu" name="Commissions" parent="conf_menu"
                  action="comm_action"  sequence="2"/>
     <menuitem id="policy_view" name="Policies"
                  action="policy_form_action" parent="arope_main_id" sequence="0"/>
    <menuitem id="risk_view" name="Motor Risks"
                  action="risk_action" parent="policy_view" sequence="0"/>

      <menuitem id="claim_view" name="Claims"
                action="claim_arope_action" parent="arope_main_id" sequence="3"/>

    <menuitem id="policy_collection" name="Collections"
                   action="collection_action" parent="arope_main_id" sequence="4"/>
      <menuitem name="Partners" id="person_menu" parent="arope_main_id"/>
       <menuitem id="broker_menu" name="Brokers"
                  action="broker_action" parent="person_menu"/>
    <menuitem id="surveyor_menu" name="Surveyors"
                  action="surveyors_action" parent="person_menu"/>
     <menuitem id="customers_menu" name="customers"
                  action="customers_action" parent="person_menu"/>

</odoo>